vendor/
public/json/*
!public/json/.gitkeep

var/tmp/*
!var/tmp/.gitkeep

var/cache/*

tests/output/*
!tests/output/.gitkeep

.php-cs-fixer.cache
config/parameters.yaml

## Devops Stuff
*gcp-token.json*
