ErrorDocument 404 '{"error": 404}'

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule ^modules/?$ json/modules.json [L]
   RewriteRule ^modules/([\d\.]+)/?$ json/$1/modules.json
   RewriteRule ^modules/(.+)/version/([\d\.]+)/?$ json/$1/$2.json
   RewriteRule ^modules/(.+)/version/?$ json/$1/latest.json
   RewriteRule ^modules/(.+)/download/(v?[\d\.]+)/?$ modules/$1/$2/$1.zip [E=ZIP:1]
   RewriteRule ^$ - [R=404]
   RewriteRule ^modules/.*/?$ - [R=404]
</IfModule>

Header always set Content-Type application/json env=!REDIRECT_ZIP